<!DOCTYPE html>
<html>
  <head>
    <title>Jorge Martinez</title>
    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <meta name="description" content="Jorge Martinez">
    <meta property="og:description" content="Jorge Martinez" />
    <meta name="author" content="Jorge Martinez" />

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="alternate" type="application/rss+xml" title="Jorge Martinez" href="//feed.xml" />
  </head>

  <body>
    <div class="container">

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Jorge Martinez</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="/tech/">Tech</a></li>
              <li><a href="/biz/">Biz</a></li>
              <li><a href="/books/">Books</a></li>
              <li><a href="/essays/">Essays</a></li>
              <li><a target="_blank" href="https://github.com/jorgemarsal"><i class="fa fa-lg fa-github-square"></i><span class="icon-label">GitHub</span></a></li>
              <li><a target="_blank" href="https://twitter.com/jorgemarsal"><i class="fa fa-lg fa-twitter-square"></i><span class="icon-label">Twitter</span></a></li>
              <li><a target="_blank" href="https://linkedin.com/in/jorgemarsal"><i class="fa fa-lg fa-linkedin-square"></i><span class="icon-label">LinkedIn</span></a></li>
            </ul>
          </div>
        </div>
      </nav> <!--navbar-->
      {{ content }}
      <footer>
         <div class="container">
            <hr>
            <div class="row">
               <div class="col-xs-10">&copy; 2017 Jorge Martinez         </div>
               <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
            </div>
         </div>
      </footer>
    </div>
    {% include analytics.html %}
  </body>
</html>
